.worker-card {
  border-radius: 1rem;
  padding: 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: background 0.3s ease, color 0.3s ease;

}

.worker-card-light .worker-text {
  color: white;
}

.worker-card-dark .worker-text {
  color: #e8eaed;
}


/* Modo Claro */
.worker-card-light {
  background: linear-gradient(180deg, #6BF8EF, #87ACF7, #645DB5);
  color: white;
}


.worker-avatar-initials {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


.avatar-light {
  background-color: #4A67C3;
  color: white;
}

.worker-rating {
  margin-top: 1rem;
}

.worker-badge {
  background-color: #4A67C3;
}

/* Modo Oscuro */
.worker-card-dark {
  background-color: #333333;
  color: #e8eaed;
}

.avatar-dark {
  background-color: #555555;
  color: #e8eaed;
}

.badge-dark {
  background-color: #888888;
}
