/* tema claro */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-light {
  background: linear-gradient(45deg, #322A94, #645DB5, #87ACF7, #6BF8EF);
  color: #ffffff; /* Color del texto en modo claro */
}

.main-light h1 {
  color: #25206A;
}

.content {
  flex: 1;
}

footer {
  background-color: #25206A;
  text-align: center;
  padding: 10px;
  color: #fff;
}

/* tema oscuro */
.background-dark-profile {
  background-color: #333333;
}

.main-dark {
  background-color: #333333; 
  color: #ffffff; 
}

.main-dark h1 {
  color: #e8eaed;
}
