/* General page layout */
.categories-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to bottom, #C3BCE7, #7161EF); 
}

.categories-page-background{
    background: linear-gradient(to bottom, #C3BCE7, #7161EF); 
}

.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}


.categories-box {
    background:linear-gradient(to top, #C3BCE7, #7161EF);
    padding: 30px;
    width: 100vh;
    height: 70vh;
    border: 4px solid black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-gap: 50px;
    justify-items: center;
    align-items: center;
}


.category-button {
    background-color: #fff;
    color: black;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

/* Pagination controls */
.pagination {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-arrow {
    background-color: #fff;
    color: black;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.pagination-arrow:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination-number {
    font-size: 24px;
    color: white;
}

/* Header and footer spacing */

