/* tema claro */
.background-light {
  background: #bc5ef2;
}

.help-container {
  padding-top: 80px;
  padding: 5vh;
  min-height: 100vh;
  background: linear-gradient(to top, #bc5ef2, #e1bce7);
}

.full-height-row {
  min-height: calc(100vh - 200px);
}

.help-form {
  background-color: #c57dff;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  color: #000;
}

.form-submit-btn {
  text-align: center;
  margin-top: 1.5rem;
}

.alert {
  margin-top: 1rem;
  color: #fffefe;
}

.contact-text {
  color: white;
}

.contact-tittle {
  color: black;
}

/* tema oscuro */
.background-dark {
  background: #1a1919;
}

.help-container-dark {
  background: linear-gradient(to bottom, #333333, #1F1F1F);
}

.help-form-dark {
  background-color: #333;
  color: #fff;
}

.form-control-dark {
  background-color: #555;
  color: #fff;
  border: 1px solid #444;
}

.form-control-dark::placeholder {
  color: #ccc;
}

.button-dark {
  background-color: #444;
  border: none;
}

.button-dark:hover {
  background-color: #222;
}

.alert-dark {
  background-color: #444;
  color: #fff;
}
