

/* Sidebar Menu Buttons */
.sidebar-button {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #3a2dcd;
  color: #fff;
  border-radius: 1rem;
  border: none;
  text-align: left;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.sidebar-button:hover {
  background-color: #645DB5; /* Cambia el color al hacer hover */
  transform: translateY(-2px); /* Efecto de "elevación" al pasar el mouse */
}

.admin-categories-page-background {
  background: linear-gradient(180deg, #6BF8EF, #87ACF7, #645DB5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}