

/* Fondo para tema oscuro */
.admin-categories-page-background.admin-page-dark {
  background: linear-gradient(to top, #333333, #1F1F1F, #000000);
  color: #ffffff;
}

/* Fondo claro y oscuro para el contenedor principal */
.APage-background-light {
  background: linear-gradient(180deg, #6BF8EF, #87ACF7, #645DB5);
}

.APage-background-dark {
  background: linear-gradient(to top, #333333, #1F1F1F, #000000);
}

.admin-page-light{
  background: linear-gradient(180deg, #6BF8EF, #87ACF7, #645DB5);
}
