/* Esto es el tema claro */
.background-light {
  background: linear-gradient(45deg, #322A94, #645DB5, #87ACF7, #6BF8EF);
}

.card-custom {
  border-radius: 20px;
  background: #5850b1;
  margin: 10%;
}

.initials-circle {
  background-color: #645DB5;
  border-radius: 100%;
  padding: 5%;
  color: #ffffff;
}

.comments-container {
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.comment-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.worker-description {
  font-style: italic;
}

.work-images-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 0 10px;
}

/* Esto es el tema oscuro */
.background-dark {
  background-color: #1F1F1F;
}

.card-dark {
  background-color: #333333;
}

.initials-circle-dark {
  background-color: #444444;
  border-radius: 100%;
  padding: 5%;
  color: #ffffff;
}

.comments-container-dark {
  color: #ffffff;
}

.comment-card-dark {
  background-color: #444;
  color: #ffffff;
  border: none;
}

.form-control-dark {
  background-color: #333333;
  color: #ffffff;
  border-color: #444444;
}

.button-dark {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.button-disabled {
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed;
}
