/* Fondo para el contenedor principal */
.page-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* Tema oscuro */
.background-dark {
  background: linear-gradient(to top, #1F1F1F, #333333);
  color: #ffffff;
}

/* Estilos del formulario para el tema claro */
.edit-user-form {
  background: linear-gradient(180deg, #645DB5, #87ACF7);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Tema oscuro para el formulario */
.edit-user-form-dark {
  background: linear-gradient(180deg, #333333, #1F1F1F);
  color: #ffffff;
}

.form-control-dark {
  background-color: #444444;
  color: #ffffff;
  border: 1px solid #888;
}

/* Contenedor de carga de imagen */
.image-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 173, 239, 0.2);
  border: 2px dashed #00adef;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
  height: 120px; /* Ajusta el tamaño según tus preferencias */
}

/* Icono y texto en el área de carga de la imagen */
.upload-icon {
  font-size: 36px;
  color: #00adef;
  margin-bottom: 5px; /* Separación entre el icono y el texto */
}

.upload-text {
  color: #e8eef1;
  font-size: 16px;
}

/* Ocultar el input de archivo */
.image-upload-input {
  display: none;
}

/* Modo oscuro para el área de carga de imágenes */
.image-upload-dark {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px dashed #888;
}

.image-upload-dark .upload-icon,
.image-upload-dark .upload-text {
  color: #ffffff;
}


.image-upload-label {
  color: #ffffff;
}

.btn-save {
  background-color: #645DB5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.btn-cancel {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
