
.header-navbar {
  background-color: #685BEB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logout-button {
  background-color: transparent;
  color: #fff;
}

.menu-row {
  display: flex;
  justify-content: space-between;
}

.menu-container {
  position: relative;
  display: inline-block;

}


.menu-button {
  background-color: #C8C3FC;  
  color: #000000;  
  border-bottom-left-radius: 3vw;  
  border-bottom-right-radius: 3vw;  
  border-top-left-radius: 0;  
  border-top-right-radius: 0;  
  height: 3vw;  
  width: 15vw;  
  padding: 2vw;  
  border-color: #000000;  
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.menu-button:hover {
  background-color: #B0A0F0;  
}

.menu-button svg {
  margin-right: 4px;
}


.menu-dropdown {
  cursor: pointer;
  position: absolute;
  top: 100%;  
  left: 0;
  background-color: #C6B8FF;
  border-radius: 0 0 8px 8px; 
  padding: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: 100%;  
}

.menu-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-dropdown li {
  margin: 0.5rem 0;
  font-size: 14px;
}

.menu-dropdown li a {
  text-decoration: none;
  color: #333;
}

.color{
  color: #000000;
}