/* tema claro */


.register-background {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-background.default {
  background: linear-gradient(45deg, #6BF8EF, #87ACF7, #645DB5, #322A94);
  height: 100ch;
}

.register-card {
  width: 25rem;
  padding: 1rem;
  border-radius: 5vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-light {
  background-color: #ffffff;
  color: #000000;
}

.border-danger {
  border-color: #dc3545 !important;
}

/* tema oscuro */
.register-background.dark {
  background-color: #1F1F1F;
  height: 100ch
}

.input-dark {
  background-color: #2B2B2B;
  color: #ffffff;
}
